# Build folder
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# VS Code
.vscode/

# Visual Studio / MSVC
*.obj
*.exe
*.pdb
*.ilk
*.lib

# Ninja
.ninja_*

# OS
.DS_Store
Thumbs.db